
    <footer class="footer bg-transparent">
        <div class="container footer-content">
            <div class="copy-right text-light pt-3 pb-3">Copyright © 2023, All Rights Reserved GGera</div>
            <div class="social-icons pt-3 pb-3">
             <img src="../../../assets/svg/insta.svg" style="width:20px;margin-right: 5px; ">
             <img src="../../../assets/svg/twitter.svg" style="width:20px;margin-right: 5px; ">
             <img src="../../../assets/svg/facebook.svg" style="width:20px;margin-right: 5px; ">
            </div>
          </div>
        
      </footer>



