<mat-dialog-content>
  <div class="table-border resultsTable pb-3">
    <i
      class="fa-solid fa-circle-xmark fa-2x close-icon"
      (click)="closeDialog()"
      style="position: absolute; right: 1.5%; top: 1%; color: aliceblue"
    ></i>
    <div class="box-wrap">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12">
            <div class="profile">
              <div class="d-flex justify-content-center">
                <div class="img">
                  <img
                    class="img-fluid"
                    src="../../assets/svg/Rectangle 9.png"
                    alt=""
                    srcset=""
                  />
                  <!-- Adjust the width to extend 50% outside the box -->
                </div>
              </div>
              <div class="d-flex justify-content-end"></div>

              <div></div>
              <div class="d-flex justify-content-center pt-3 pb-3">
                <h3 class="text-light">PRO</h3>
              </div>
              <div class="d-flex">
                <div class="table-border resultsTable1">
                  <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th scope="col" class="red">Date</th>
                        <th scope="col" class="text-right">19/02/2023 14:48</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" class="red">Rating</th>
                        <td class="text-right">
                          <div class="d-flex justify-content-end">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="18"
                              height="18"
                              viewBox="0 0 18 18"
                              fill="none"
                            >
                              <g clip-path="url(#clip0_534_3375)">
                                <path
                                  d="M4.06345 17.3734C3.6292 17.5962 3.13645 17.2058 3.2242 16.7074L4.15795 11.3862L0.194575 7.6107C-0.17555 7.25745 0.0168249 6.6117 0.51295 6.54195L6.0232 5.75895L8.4802 0.891074C8.70183 0.452324 9.30145 0.452324 9.52308 0.891074L11.9801 5.75895L17.4903 6.54195C17.9865 6.6117 18.1788 7.25745 17.8076 7.6107L13.8453 11.3862L14.7791 16.7074C14.8668 17.2058 14.3741 17.5962 13.9398 17.3734L8.99995 14.8354L4.06345 17.3734Z"
                                  fill="#E0AE4B"
                                />
                              </g>
                              <defs>
                                <clipPath id="clip0_534_3375">
                                  <rect width="18" height="18" fill="white" />
                                </clipPath>
                              </defs>
                            </svg>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="18"
                              height="18"
                              viewBox="0 0 18 18"
                              fill="none"
                            >
                              <g clip-path="url(#clip0_534_3375)">
                                <path
                                  d="M4.06345 17.3734C3.6292 17.5962 3.13645 17.2058 3.2242 16.7074L4.15795 11.3862L0.194575 7.6107C-0.17555 7.25745 0.0168249 6.6117 0.51295 6.54195L6.0232 5.75895L8.4802 0.891074C8.70183 0.452324 9.30145 0.452324 9.52308 0.891074L11.9801 5.75895L17.4903 6.54195C17.9865 6.6117 18.1788 7.25745 17.8076 7.6107L13.8453 11.3862L14.7791 16.7074C14.8668 17.2058 14.3741 17.5962 13.9398 17.3734L8.99995 14.8354L4.06345 17.3734Z"
                                  fill="#E0AE4B"
                                />
                              </g>
                              <defs>
                                <clipPath id="clip0_534_3375">
                                  <rect width="18" height="18" fill="white" />
                                </clipPath>
                              </defs>
                            </svg>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="18"
                              height="18"
                              viewBox="0 0 18 18"
                              fill="none"
                            >
                              <g clip-path="url(#clip0_534_3375)">
                                <path
                                  d="M4.06345 17.3734C3.6292 17.5962 3.13645 17.2058 3.2242 16.7074L4.15795 11.3862L0.194575 7.6107C-0.17555 7.25745 0.0168249 6.6117 0.51295 6.54195L6.0232 5.75895L8.4802 0.891074C8.70183 0.452324 9.30145 0.452324 9.52308 0.891074L11.9801 5.75895L17.4903 6.54195C17.9865 6.6117 18.1788 7.25745 17.8076 7.6107L13.8453 11.3862L14.7791 16.7074C14.8668 17.2058 14.3741 17.5962 13.9398 17.3734L8.99995 14.8354L4.06345 17.3734Z"
                                  fill="#E0AE4B"
                                />
                              </g>
                              <defs>
                                <clipPath id="clip0_534_3375">
                                  <rect width="18" height="18" fill="white" />
                                </clipPath>
                              </defs>
                            </svg>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="18"
                              height="18"
                              viewBox="0 0 18 18"
                              fill="none"
                            >
                              <g clip-path="url(#clip0_534_3375)">
                                <path
                                  d="M4.06345 17.3734C3.6292 17.5962 3.13645 17.2058 3.2242 16.7074L4.15795 11.3862L0.194575 7.6107C-0.17555 7.25745 0.0168249 6.6117 0.51295 6.54195L6.0232 5.75895L8.4802 0.891074C8.70183 0.452324 9.30145 0.452324 9.52308 0.891074L11.9801 5.75895L17.4903 6.54195C17.9865 6.6117 18.1788 7.25745 17.8076 7.6107L13.8453 11.3862L14.7791 16.7074C14.8668 17.2058 14.3741 17.5962 13.9398 17.3734L8.99995 14.8354L4.06345 17.3734Z"
                                  fill="#E0AE4B"
                                />
                              </g>
                              <defs>
                                <clipPath id="clip0_534_3375">
                                  <rect width="18" height="18" fill="white" />
                                </clipPath>
                              </defs>
                            </svg>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="18"
                              height="18"
                              viewBox="0 0 18 18"
                              fill="none"
                            >
                              <g clip-path="url(#clip0_534_3375)">
                                <path
                                  d="M4.06345 17.3734C3.6292 17.5962 3.13645 17.2058 3.2242 16.7074L4.15795 11.3862L0.194575 7.6107C-0.17555 7.25745 0.0168249 6.6117 0.51295 6.54195L6.0232 5.75895L8.4802 0.891074C8.70183 0.452324 9.30145 0.452324 9.52308 0.891074L11.9801 5.75895L17.4903 6.54195C17.9865 6.6117 18.1788 7.25745 17.8076 7.6107L13.8453 11.3862L14.7791 16.7074C14.8668 17.2058 14.3741 17.5962 13.9398 17.3734L8.99995 14.8354L4.06345 17.3734Z"
                                  fill="#E0AE4B"
                                />
                              </g>
                              <defs>
                                <clipPath id="clip0_534_3375">
                                  <rect width="18" height="18" fill="white" />
                                </clipPath>
                              </defs>
                            </svg>
                          </div>
                        </td>
                      </tr>

                      <!-- <tr>
                            <th scope="row " class="red">Comment</th>
                             <td class="text-right">Client</td>
                          
                          </tr> -->
                    </tbody>
                  </table>
                  <div class="body-color px-4 pt-1 ">
                    <span class="red ps-2">Comment</span>
                    <p class="text-light pb-2 ps-2">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, scrambled it to
                      make a type specimen book.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-md-12 col-sm-12">
            <div class="profile">
              <div class="d-flex justify-content-center">
                <div class="img">
                  <img
                    class="img-fluid"
                    src="../../assets/svg/Rectangle 9.png"
                    alt=""
                    srcset=""
                  />
                  <!-- Adjust the width to extend 50% outside the box -->
                </div>
              </div>
              <div class="d-flex justify-content-end"></div>

              <div></div>
              <div class="d-flex justify-content-center pt-3 pb-3">
                <h3 class="text-light">PRO</h3>
              </div>
              <div class="d-flex">
                <div class="table-border resultsTable1">
                  <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th scope="col" class="red">Date</th>
                        <th scope="col" class="text-right">19/02/2023 14:48</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" class="red">Rating</th>
                        <td class="text-right">
                          <div class="d-flex justify-content-end">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="18"
                              height="18"
                              viewBox="0 0 18 18"
                              fill="none"
                            >
                              <g clip-path="url(#clip0_534_3375)">
                                <path
                                  d="M4.06345 17.3734C3.6292 17.5962 3.13645 17.2058 3.2242 16.7074L4.15795 11.3862L0.194575 7.6107C-0.17555 7.25745 0.0168249 6.6117 0.51295 6.54195L6.0232 5.75895L8.4802 0.891074C8.70183 0.452324 9.30145 0.452324 9.52308 0.891074L11.9801 5.75895L17.4903 6.54195C17.9865 6.6117 18.1788 7.25745 17.8076 7.6107L13.8453 11.3862L14.7791 16.7074C14.8668 17.2058 14.3741 17.5962 13.9398 17.3734L8.99995 14.8354L4.06345 17.3734Z"
                                  fill="#E0AE4B"
                                />
                              </g>
                              <defs>
                                <clipPath id="clip0_534_3375">
                                  <rect width="18" height="18" fill="white" />
                                </clipPath>
                              </defs>
                            </svg>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="18"
                              height="18"
                              viewBox="0 0 18 18"
                              fill="none"
                            >
                              <g clip-path="url(#clip0_534_3375)">
                                <path
                                  d="M4.06345 17.3734C3.6292 17.5962 3.13645 17.2058 3.2242 16.7074L4.15795 11.3862L0.194575 7.6107C-0.17555 7.25745 0.0168249 6.6117 0.51295 6.54195L6.0232 5.75895L8.4802 0.891074C8.70183 0.452324 9.30145 0.452324 9.52308 0.891074L11.9801 5.75895L17.4903 6.54195C17.9865 6.6117 18.1788 7.25745 17.8076 7.6107L13.8453 11.3862L14.7791 16.7074C14.8668 17.2058 14.3741 17.5962 13.9398 17.3734L8.99995 14.8354L4.06345 17.3734Z"
                                  fill="#E0AE4B"
                                />
                              </g>
                              <defs>
                                <clipPath id="clip0_534_3375">
                                  <rect width="18" height="18" fill="white" />
                                </clipPath>
                              </defs>
                            </svg>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="18"
                              height="18"
                              viewBox="0 0 18 18"
                              fill="none"
                            >
                              <g clip-path="url(#clip0_534_3375)">
                                <path
                                  d="M4.06345 17.3734C3.6292 17.5962 3.13645 17.2058 3.2242 16.7074L4.15795 11.3862L0.194575 7.6107C-0.17555 7.25745 0.0168249 6.6117 0.51295 6.54195L6.0232 5.75895L8.4802 0.891074C8.70183 0.452324 9.30145 0.452324 9.52308 0.891074L11.9801 5.75895L17.4903 6.54195C17.9865 6.6117 18.1788 7.25745 17.8076 7.6107L13.8453 11.3862L14.7791 16.7074C14.8668 17.2058 14.3741 17.5962 13.9398 17.3734L8.99995 14.8354L4.06345 17.3734Z"
                                  fill="#E0AE4B"
                                />
                              </g>
                              <defs>
                                <clipPath id="clip0_534_3375">
                                  <rect width="18" height="18" fill="white" />
                                </clipPath>
                              </defs>
                            </svg>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="18"
                              height="18"
                              viewBox="0 0 18 18"
                              fill="none"
                            >
                              <g clip-path="url(#clip0_534_3375)">
                                <path
                                  d="M4.06345 17.3734C3.6292 17.5962 3.13645 17.2058 3.2242 16.7074L4.15795 11.3862L0.194575 7.6107C-0.17555 7.25745 0.0168249 6.6117 0.51295 6.54195L6.0232 5.75895L8.4802 0.891074C8.70183 0.452324 9.30145 0.452324 9.52308 0.891074L11.9801 5.75895L17.4903 6.54195C17.9865 6.6117 18.1788 7.25745 17.8076 7.6107L13.8453 11.3862L14.7791 16.7074C14.8668 17.2058 14.3741 17.5962 13.9398 17.3734L8.99995 14.8354L4.06345 17.3734Z"
                                  fill="#E0AE4B"
                                />
                              </g>
                              <defs>
                                <clipPath id="clip0_534_3375">
                                  <rect width="18" height="18" fill="white" />
                                </clipPath>
                              </defs>
                            </svg>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="18"
                              height="18"
                              viewBox="0 0 18 18"
                              fill="none"
                            >
                              <g clip-path="url(#clip0_534_3375)">
                                <path
                                  d="M4.06345 17.3734C3.6292 17.5962 3.13645 17.2058 3.2242 16.7074L4.15795 11.3862L0.194575 7.6107C-0.17555 7.25745 0.0168249 6.6117 0.51295 6.54195L6.0232 5.75895L8.4802 0.891074C8.70183 0.452324 9.30145 0.452324 9.52308 0.891074L11.9801 5.75895L17.4903 6.54195C17.9865 6.6117 18.1788 7.25745 17.8076 7.6107L13.8453 11.3862L14.7791 16.7074C14.8668 17.2058 14.3741 17.5962 13.9398 17.3734L8.99995 14.8354L4.06345 17.3734Z"
                                  fill="#E0AE4B"
                                />
                              </g>
                              <defs>
                                <clipPath id="clip0_534_3375">
                                  <rect width="18" height="18" fill="white" />
                                </clipPath>
                              </defs>
                            </svg>
                          </div>
                        </td>
                      </tr>

                      <!-- <tr>
                            <th scope="row " class="red">Comment</th>
                             <td class="text-right">Client</td>
                          
                          </tr> -->
                    </tbody>
                  </table>
                  <div class="body-color px-4 pt-1 ">
                    <span class="red ps-2">Comment</span>
                    <p class="text-light pb-2 ps-2">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, scrambled it to
                      make a type specimen book.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</mat-dialog-content>
