
  


<mat-dialog-content>
    
   
      
      <!-- <button mat-icon-button class="close-button" (click)="closeDialog()">
      
      </button> -->
      
        <div class="table-border resultsTable pb-1">
          <div>

          </div>
          <i class="fa-solid fa-circle-xmark fa-2x close-icon" (click)="closeDialog()" style="position: absolute;right: 3%;top: 5%; color: aliceblue;"></i>
        <table class="table table-striped table-hover ">
        
          <thead>
            <tr>
              <th scope="col">44654364</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
          
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="col">Requested</th>
              <th scope="col">Start Time</th>
              <th scope="col">Completed</th>
              <th scope="col">Amount Space</th>
              <th scope="col">Logged Time</th>
            </tr>
        
            <tr>
              <th scope="row">10/03/2023 13:35</th>
              <td>10/03/2023 13:41</td>
              <td>10/03/2023 13:41</td>
              <td>$ 1</td>
              <td>5 Minutes</td>
             
             
            </tr>
    
          </tbody>
        </table>
    
     
        </div>
      
</mat-dialog-content>

