<mat-dialog-content>
    
   
      
    <!-- <button mat-icon-button class="close-button" (click)="closeDialog()">
    
    </button> -->
    
      <div class="table-border resultsTable pb-1">
        <div>

        </div>
        <i class="fa-solid fa-circle-xmark fa-2x close-icon" (click)="closeDialog()" ></i>

        <div class="d-flex justify-content-center">
            <div class="container">
                <div class="small-box">
                    <div class="pt-2 ps-3 text-light">
                        <h4>Report</h4>
                    </div>
                    <div class="">
                        <div class="p-3 pb-0 pt-1">
                            <div class="profile-box ">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <div class="pe-2 pt-1 ps-2">
                                            <img src="../../../assets/svg/frame.png" alt="" srcset="" width="40" height="40" style="vertical-align: middle;">
                                        </div>
                                        <div class="text-light">
                                            <div>
                                               Adas
                                            </div>
                                            <div>
                                                0 hours of play
                                            </div>
                                        </div>
                                    
                                    </div>
                                    <div>
                                        <div style="color: #4E4E4E;">
d
                                        </div>
                                        <div class="text-light pe-2">
                                            00 00min
                                        </div>
                                    </div>
                    
                                                            </div>
                            </div>
                        </div>
                        <div class="p-3 pb-1 pt-1  text-light" style="font-size: small;color: #fff !important;">
                          <div class="px-1 pb-1">
                            Time in Premade Party
                          </div>
                            

                            <div class="row" data-bs-theme="dark">
                                <div class="col-sm-6">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>0 hours</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>0 minuties</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                </div>

                            </div>
                        </div>
                       
                       
                    </div>
                    <div class="p-3">
                        <div class="btn btn-white">
                            Report and Continue
                        </div>
                        <div class="btn btn-transparent mt-2">
                            Cancel
                        </div>
                    </div>
                </div>
            </div>


</div>
  
   
      </div>
    
</mat-dialog-content>