<app-navbar></app-navbar>
<div class="container">
  <div class="page-title">
    <div class="pt-5">
      <div class="resultsTable2" >
        <h1 class="title text-light pt-3 " style="color: #F15232 !important;font-size: 3rem !important;">Completed Premade Parties</h1>
      </div>
    </div>
    <div class="pt-3">
      <div class="resultsTable1">
        <h3 class="title text-light pt-3 pb-4 px-3">Orders</h3>
      </div>
    </div>
    
   
    <div class="table">
      <div class="table header">
       
      </div>
      <div class="table-border resultsTable">
      <table class="table table-striped table-hover ">
        <thead style="border-radius: 10px !important;">
          <tr>
            <th scope="col">Orders #</th>
            <th scope="col">Client</th>
            <th scope="col">Pro</th>
            <th scope="col">Amount</th>
            <th scope="col">Logged Time</th>
            <th scope="col">Completed Date</th>
           
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row" style="vertical-align: middle;">44654364</th>
            <td>Client Test</td>
            <td>Pro404</td>
            <td>1.00</td>
            <td>5</td>
            <td>09/03/2023 19:03</td>
             
            <td><div class="btn btn-warning">More</div></td>
          </tr>
          <tr>
            <th scope="row">44654364</th>
            <td>Client Test</td>
            <td>Pro404</td>
            <td>1.00</td>
            <td>5</td>
            <td>09/03/2023 19:03</td>
             
            <td><div class="btn btn-warning">More</div></td>
          </tr>
          <tr>
            <th scope="row">44654364</th>
            <td>Client Test</td>
            <td>Pro404</td>
            <td>1.00</td>
            <td>5</td>
            <td>09/03/2023 19:03</td>
             
            <td><div class="btn btn-warning">More</div></td>
          </tr>
          <tr>
            <th scope="row">44654364</th>
            <td>Client Test</td>
            <td>Pro404</td>
            <td>1.00</td>
            <td>5</td>
            <td>09/03/2023 19:03</td>
             
            <td><div class="btn btn-warning">More</div></td>
          </tr>
          <tr>
            <th scope="row">44654364</th>
            <td>Client Test</td>
            <td>Pro404</td>
            <td>1.00</td>
            <td>5</td>
            <td>09/03/2023 19:03</td>
             
            <td><div class="btn btn-warning">More</div></td>
          </tr>
          <tr>
            <th scope="row">44654364</th>
            <td>Client Test</td>
            <td>Pro404</td>
            <td>1.00</td>
            <td>5</td>
            <td>09/03/2023 19:03</td>
            <td><div class="btn btn-warning">More</div></td>
          </tr>
          <tr>
            <th scope="row">44654364</th>
            <td>Client Test</td>
            <td>Pro404</td>
            <td>1.00</td>
            <td>5</td>
            <td>09/03/2023 19:03</td>
             
            <td><div class="btn btn-warning">More</div></td>
          </tr>
        </tbody>
      </table>
  
      <div class="scrollable-container">
        <!-- the content example -->
        <!-- <ul class="list-unstyled">
          <li class="text-light" *ngFor="let item of paginatedItems">
            {{ item }}
          </li>
        </ul> -->
        <!-- content example ends here  -->
      </div>
      
        <div class="d-flex justify-content-end ">
          <ul class="pagination">
            <li class="page-item ">
              <a class="page-link custom-prev-button" (click)="goToPage(p - 1)" [ngClass]="{ 'disabled': p === 1 }"> <i class="fas fa-chevron-left"></i></a>
            </li>
            <li class="page-item" [class.active]="p === page" *ngFor="let page of getPageRange(totalPages)">
              <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
            </li>
            <li class="page-item">
              <a class="page-link custom-next-button" (click)="goToPage(p + 1)" [ngClass]="{ 'disabled': p === totalPages }"><i class="fas fa-chevron-right"></i></a>
            </li>
          </ul>
         
        
      </div>
    


      
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>

