<mat-dialog-content>
  <div class="table-border resultsTable pb-1">
    <div></div>
    <i
      class="fa-solid fa-circle-xmark fa-2x close-icon"
      (click)="closeDialog()"
      style="position: absolute; right: 11%; top: 2%; color: aliceblue"
    ></i>

    <div class="d-flex justify-content-center">
      <div class="container">
        <div class="small-box">
          <div class="pt-3 ps-3 text-light">
            <h5>Stop the Premade Party</h5>
          </div>
          <div class="text-light px-3" style="font-size: small">
            <p>Are you sure?</p>
          </div>
          <div class="p-3 pt-2">
            <div class="btn btn-white">Stop</div>
            <div class="btn btn-transparent mt-2">Cancel</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
