// @import url('../../assets/fonts');
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
    font-family:'Poppins';
    scroll-behavior: smooth;
  }
body{
    
    // src: url('/../fonts/Poppins-Regular.ttf') format('truetype');
    // font-family: var(--fontFamily !important);
    // font-family: 'Poppins' !important;
  }
  
.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding-left: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #111; */
    transition: 0.5s;
    z-index: -2;
  }
  .showcase.active {
    right: 300px;
  }
  
  .showcase video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity: 0.8; */
  }
  .fixed-video {
    position: fixed;
    z-index: 0 !important;
    margin: 0;
  }
  .video-home {
    position: fixed;
    right: 0;
    width: 100%;
    min-height: 100vh;
    /* padding-left: 150PX; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2 !important ;
    /* object-fit: cover; */
  }
  .overlap {
    position: fixed;
    width: 100%;
    /* margin-left: -300px; */
    right: 0;
    z-index: -10;
    color: #111;
    background-size: cover;
    opacity: 0.8;
  }
  .overlap-about {
    z-index:-10 !important;
    overflow-x: hidden;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
  
    z-index: -10;
  }

  .card{
    background-color: #333333 !important;
    border-color: #111;
    border-radius: 10px !important;
   width : 435px;
  }
  .img-fluid{
    max-width: 80px;
    padding: 10px;
    border-radius: 50px;
    background-color: #111;
  }
  .font{
    font-size: 0.9rem;
    font-weight: 100;
  }
 
  .form-control{
    background-color: #4E4E4E !important;
    color: #ffff;
  }
  input::placeholder {
    color: #fff;
  }
  .text{
    color: #FFF;
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: 0.8125rem; /* 65% */
  }