.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding-left: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #111; */
    transition: 0.5s;
    z-index: -2;
  }
  .showcase.active {
    right: 300px;
  }
  
  .showcase video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity: 0.8; */
  }
  .fixed-video {
    position: fixed;
    z-index: 0 !important;
    margin: 0;
  }
  .video-home {
    position: fixed;
    right: 0;
    width: 100%;
    min-height: 100vh;
    /* padding-left: 150PX; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2 !important ;
    /* object-fit: cover; */
  }
  .overlap {
    position: fixed;
    width: 100%;
    /* margin-left: -300px; */
    right: 0;
    z-index: -10;
    color: #111;
    background-size: cover;
    opacity: 0.8;
  }
  .overlap-about {
    z-index: -10 !important;
    overflow-x: hidden;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
  
    z-index: -10;
  }