<app-navbar></app-navbar>
<div class="container">
  <div class="page-title">
    <div class="pt-5">
      <div class="resultsTable2">
        <h1
          class="title text-light pt-3"
          style="color: #f15232 !important; font-size: 3rem !important"
        >
          My Profile
        </h1>
      </div>
    </div>
    <div class="pt-5 d-flex justify-content-center">
      <div class="resultsTable pb-2 pt-2">
        <div class="col-xl-12 p-3">
          <div class="d-flex justify-content-center pt-5">
            <img
              src="../../../assets/svg/image 1.png"
              alt=""
              srcset=""
              width="250"
              style="background-color: black; padding: 5%"
            />
          </div>
          <div>
            <div class="d-flex justify-content-center pt-5 pb-5 box">
              <h4 class="text-light">The page under construction</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pt-3">
  <app-footer></app-footer>
</div>
