.request-box{
    max-width: 1150px;
    background-color: #333;
    border-radius: 10px;
    min-height: 70vh;
}
.warzone{
    color: #FFF;
font-family: Poppins;
font-size: 2.25rem;
font-style: normal;
font-weight: 600;
line-height: 3rem;
}
.blue-letter{
    color: #2196F3;
font-family: Poppins;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1rem;
}
.dollar{
    color: #FFF;
font-family: Poppins;
font-size: 2.25rem;
font-style: normal;
font-weight: 600;
line-height: 3rem;
}
.flex-container {
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 100vh;
 width: 1950px;
    margin: 0 auto;
    padding: 20px;
  }
  .box-2{
    border: 1px solid white ;
    border-radius: 10px;
  }
  .btn-blue{
    background-color: #2196F3;
    padding: 2.5%;
    color: #FFF;

font-size: 1.7rem;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .btn-white{
    border: 1px solid white;
    padding: 2.5%;
    color: #FFF;
font-size: 1.7rem;
min-width: 16.125rem;
  }
  .user{
    color: #2196F3;
font-family: Poppins;
font-size: 2rem;
font-style: normal;
font-weight: 600;
line-height: 3rem;
  }
  .box-3{
    min-width: 16.125rem;
    background-color: #2196F3;
    color: #FFF;
    // padding: 2.5%;
    border-radius: 10px;
    padding-top: 1.7%;
    padding: 1.5%;
    
  }