<app-navbar-blue></app-navbar-blue>
<div class="container" style="max-width: 1132px">
  <div class="page-title">
    <div class="pt-5">
      <div class="resultsTable2">
        <h1
          class="title text-light pt-3"
          style="color: #2196f3 !important; font-size: 3rem !important"
        >
          In Progress 1-1 Orders
        </h1>
      </div>
    </div>
    <div class="pt-5">
      <div class="pb-2 pt-2">
        <div class="row">
          <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="resultsTable m-1">
              <div class="table-border resultsTable pb-2 pt-2">
                <table class="table table-striped table-hover">
                  <thead style="border-radius: 10px !important">
                    <tr>
                      <th scope="col"><h3 class="p-2">Client 101</h3></th>

                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="">
                      <th scope="row"  style="font-weight: 100;" class="pb-4">
                       <span class="color-orange">Order</span>  #44654364
                      </th>
                       <td class="pb-4"style="text-align:end;">
                        <span class="color-orange">Cost</span>$12.00/hr
                      </td>
                    </tr>
                  
                    <tr>
                      <th scope="row" class="" style="font-weight: 100;">00:43 Minutes <br> Realtime Balance: $30:24</th>
                    

                      <td>
                        <div class="d-flex justify-content-end pe-3">
                          <div class="btn btn-success">
                            STOP <br/>
                            TIMER
                          </div>
                        </div>
                        
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <div class="btn btn-transparent">Chat with Pro</div>
                        </div>
                      </td>
                      <td>
                        <!-- 1-1in progress table modal opening  here  -->
                        <div class="btn btn-white" (click)="openDialog()">More</div>
                      <!-- /1-1in progress table modal opening  here  -->
                      
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="resultsTable m-1">
              <div class="table-border resultsTable pb-2 pt-2">
                <table class="table table-striped table-hover">
                  <thead style="border-radius: 10px !important">
                    <tr>
                      <th scope="col"><h3 class="p-2">Client 101</h3></th>

                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="">
                      <th scope="row"  style="font-weight: 100;" class="pb-4">
                       <span class="color-orange">Order</span>  #44654364
                      </th>
                       <td class="pb-4"style="text-align:end;">
                        <span class="color-orange">Cost</span>$12.00/hr
                      </td>
                    </tr>
                  
                    <tr>
                      <th scope="row" class="" style="font-weight: 100;">00:43 Minutes <br> Realtime Balance: $30:24</th>
                    

                      <td>
                        <div class="d-flex justify-content-end pe-3">
                          <div class="btn btn-success">
                            STOP <br/>
                            TIMER
                          </div>
                        </div>
                        
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <div class="btn btn-transparent">Chat with Pro</div>
                        </div>
                      </td>
                      <td>
                        <!-- report modal opening  here  -->
                        <div class="btn btn-white" (click)="openReport()">More</div>
                        <!-- / modal opening  here  -->
                      
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="resultsTable m-1">
              <div class="table-border resultsTable pb-2 pt-2">
                <table class="table table-striped table-hover">
                  <thead style="border-radius: 10px !important">
                    <tr>
                      <th scope="col"><h3 class="p-2">Client 101</h3></th>

                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="">
                      <th scope="row"  style="font-weight: 100;" class="pb-4">
                       <span class="color-orange">Order</span>  #44654364
                      </th>
                       <td class="pb-4"style="text-align:end;">
                        <span class="color-orange">Cost</span>$12.00/hr
                      </td>
                    </tr>
                  
                    <tr>
                      <th scope="row" class="" style="font-weight: 100;">00:43 Minutes <br> Realtime Balance: $30:24</th>
                    

                      <td>
                        <div class="d-flex justify-content-end pe-3">
                          <div class="btn btn-success">
                            STOP <br/>
                            TIMER
                          </div>
                        </div>
                        
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <div class="btn btn-transparent">Chat with Pro</div>
                        </div>
                      </td>
                      <td><div class="btn btn-white">More</div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="resultsTable m-1">
              <div class="table-border resultsTable pb-2 pt-2">
                <table class="table table-striped table-hover">
                  <thead style="border-radius: 10px !important">
                    <tr>
                      <th scope="col"><h3 class="p-2">Client 101</h3></th>

                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="">
                      <th scope="row"  style="font-weight: 100;" class="pb-4">
                       <span class="color-orange">Order</span>  #44654364
                      </th>
                       <td class="pb-4"style="text-align:end;">
                        <span class="color-orange">Cost</span>$12.00/hr
                      </td>
                    </tr>
                  
                    <tr>
                      <th scope="row" class="" style="font-weight: 100;">00:43 Minutes <br> Realtime Balance: $30:24</th>
                    

                      <td>
                        <div class="d-flex justify-content-end pe-3">
                          <div class="btn btn-success">
                            STOP <br/>
                            TIMER
                          </div>
                        </div>
                        
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <div class="btn btn-transparent">Chat with Pro</div>
                        </div>
                      </td>
                      <td><div class="btn btn-white">More</div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="resultsTable m-1">
              <div class="table-border resultsTable pb-2 pt-2">
                <table class="table table-striped table-hover">
                  <thead style="border-radius: 10px !important">
                    <tr>
                      <th scope="col"><h3 class="p-2">Client 101</h3></th>

                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="">
                      <th scope="row"  style="font-weight: 100;" class="pb-4">
                       <span class="color-orange">Order</span>  #44654364
                      </th>
                       <td class="pb-4"style="text-align:end;">
                        <span class="color-orange">Cost</span>$12.00/hr
                      </td>
                    </tr>
                  
                    <tr>
                      <th scope="row" class="" style="font-weight: 100;">00:43 Minutes <br> Realtime Balance: $30:24</th>
                    

                      <td>
                        <div class="d-flex justify-content-end pe-3">
                          <div class="btn btn-success">
                            STOP <br/>
                            TIMER
                          </div>
                        </div>
                        
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <div class="btn btn-transparent">Chat with Pro</div>
                        </div>
                      </td>
                      <td><div class="btn btn-white">More</div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="resultsTable m-1">
              <div class="table-border resultsTable pb-2 pt-2">
                <table class="table table-striped table-hover">
                  <thead style="border-radius: 10px !important">
                    <tr>
                      <th scope="col"><h3 class="p-2">Client 101</h3></th>

                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="">
                      <th scope="row"  style="font-weight: 100;" class="pb-4">
                       <span class="color-orange">Order</span>  #44654364
                      </th>
                       <td class="pb-4"style="text-align:end;">
                        <span class="color-orange">Cost</span>$12.00/hr
                      </td>
                    </tr>
                  
                    <tr>
                      <th scope="row" class="" style="font-weight: 100;">00:43 Minutes <br> Realtime Balance: $30:24</th>
                    

                      <td>
                        <div class="d-flex justify-content-end pe-3">
                          <div class="btn btn-success">
                            STOP <br/>
                            TIMER
                          </div>
                        </div>
                        
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <div class="btn btn-transparent">Chat with Pro</div>
                        </div>
                      </td>
                      <td><div class="btn btn-white">More</div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pt-3">
  <app-footer></app-footer>
</div>
