.resultsTable {
    border-radius: 10px !important;
    border-width: 5px !important;
    width: 100%;  /*Tested and working as expected: */
    padding-top: 1%;
    margin: 0px auto;
    float: none;
    background-color: #333;
  
}
.container{
    min-height: 85%;
}
.text1{
    position: absolute !important;
    
     padding: 2%;
     top: 15%;
     color: aliceblue;
}
.box{
    min-height: 35vh;

}
@media (max-width: 776px) {
    .sm-screen{
        padding-top: 2%;
    }
  }
  .btn-blue{
    background-color: #2196F3;
    color: white;
  }
  .form-control {
    background-color: #4E4E4E;
    color: white;
  }
  .form-select {
    background-color: #4E4E4E;
    color: white;
  }
  ::placeholder {
    color: white;
  }

  /* For WebKit-based browsers */
  ::-webkit-input-placeholder {
    color: white;
  }
  .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #333 !important;
    color: aliceblue;
 }
 .table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color:  #4E4E4E !important;
    color: aliceblue;
 } 
// testing 
.table>:not(caption)>*>* { 
    background-color: #333 !important;
    color: aliceblue;
    border-bottom-color: transparent;
    // padding: 15px;
    vertical-align: middle;
}
.table-border{
border-radius: 10px !important;
}
.btn-success{
  background-color: #2196F3 !important;
  border: none !important;
  // width: 70%;
  // padding: 8%;
  border-radius: 15px;
  // font-weight: 400;
  // font-size: larger;
}
.btn-transparent{
  background-color: transparent !important;
  border-color:  aliceblue  !important;
  border-width: medium;
  color: aliceblue;
  width: 100%;
  // padding: 8%;
  border-radius: 15px;
}
.btn-white{
  background-color: white !important;
  border-color:  aliceblue  !important;
  color: #2196F3;
  // padding: 8%;
  border-radius: 15px;
  font-size: large;
  font-weight: 500;
  width: 90%;
  border-color:  aliceblue  !important;
  border-width: medium;
}
.color-orange{
  color: #2196F3;
  font-size: medium !important;
  font-weight: 100 ;
}
.container{
    min-height: 90vh !important;
}

