.container{
    max-width: 350px;

}
.small-box{
    background-color: #2196F3;
    border-radius: 10px;
}
.profile-box{
    background-color: #4E4E4E;
    border-radius: 10px;
}
.btn-white{
    background-color: white;
    color: #2196F3;
    border-radius: 10px;
    width: 100%;
    font-size: 1rem;
}
.btn-transparent{
    background-color: transparent;
    border: 1px solid white;
    color: #ffff;
    border-radius: 10px;
    width: 100%;
}
.form-select{
    background-color: #4E4E4E;
}
.resultsTable {
    position: relative;
  }
  
  .close-icon {
    position: absolute;
    top: -12px !important;
    right: 22px !important;
    color: aliceblue;
  }