<app-navbar-blue></app-navbar-blue>
<div class="container" style="max-width: 1032px">
  <div class="page-title">
    <div class="pt-5">
      <div class="resultsTable2">
        <h1
          class="title text-light pt-3"
          style="color: #2196f3 !important; font-size: 3rem !important"
        >
        My Bank Information
        </h1>
      </div>
    </div>
    <div class="pt-5 d-flex justify-content-center">
      <div class="resultsTable pb-2 pt-2">
        <div class="col-xl-12 p-3" data-bs-theme="dark">
          <div class="row">
       <div class="col-xl-6">
        <label
        for="exampleFormControlInput1"
        class="form-label text-light px-1"
      ></label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Name as on Bank Account*"
      />
       </div>
       <div class="col-xl-6">
        <label
        for="exampleFormControlInput1"
        class="form-label text-light px-1"
      ></label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Account Number*"
      />
       </div>
       <div class="col-xl-6">
        <label
        for="exampleFormControlInput1"
        class="form-label text-light px-1"
      ></label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Bank Name*"
      />
       </div>
       <div class="col-xl-6">
        <label
        for="exampleFormControlInput1"
        class="form-label text-light px-1"
      ></label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="IRAN*"
      />
       </div>
       <div class="col-xl-12">
        <label
        for="exampleFormControlInput1"
        class="form-label text-light px-1"
      ></label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Paypal ID"
      />
       </div>
          </div>
          <div class="pt-3">
            <div class="btn btn-blue">
                Submit
              </div>
          </div>
         
       
       
        </div>

  
      </div>
    </div>
  </div>
</div>
<div class="pt-3">
  <app-footer></app-footer>
</div>
