/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body {
  font-family: 'Poppins', sans-serif !important;
}
html, body { height: 100%; }
.mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: transparent  !important;
 
    padding: 0%;
}
.mdc-dialog .mdc-dialog__content {
    // padding: 0% !important;
}
.mat-mdc-dialog-content {
  //  max-height: 100% !important;
  max-height: 82vh !important;
}
.mat-mdc-dialog-container .mdc-dialog__surface {
  box-shadow: none !important;
}
    