<app-navbar-blue></app-navbar-blue>
<div class="container">
  <!-- Page header start -->
  <div class="page-title">
    <div class="row gutters">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h5 class="title text-light heading-size pt-5 pb-3 ps-4">Chat</h5>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"></div>
    </div>
  </div>
  <!-- Page header end -->

  <!-- Content wrapper start -->
  <div class="content-wrapper pb-3">
    <!-- Row start -->
    <div class="row gutters">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="m-0">
          <!-- Row start -->
          <div
            class="row no-gutters custom-row-margin d-flex justify-content-center"
          >
            <div
              class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12 gap"
              style="background-color: #333333; border-radius: 15px"
            >
              <div class="selected-user">
                <div class="line">
                  <span class="text-center text-light">Today</span>
                </div>
              </div>

              <div class="chat-container">
                <ul class="chat-box chatContainerScroll">
                  <li class="chat-left">
                    <div class="chat-avatar">
                      <img
                        src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
                        alt="Retail Admin"
                      />
                      <!-- <div class="chat-name">Russell</div> -->
                    </div>
                    <div>
                      <div class="chat-text text-light">
                        <div class="name text-light">Sandeep</div>

                        Hello, I'm Russell.
                        <br />How can I help you today?
                      </div>

                      <div
                        class="chat-hour d-flex justify-content-end text-light p-1"
                      >
                        08:55
                        <!-- <span class="fa fa-check-circle"></span> -->
                      </div>
                    </div>
                  </li>
                  <li class="chat-right">
                    <div>
                      <div class="chat-text text-light">
                        <div class="name text-light">Sandeep</div>

                        I need more information about Developer Plan.
                      </div>
                      <div
                        class="chat-hour d-flex justify-content-end text-light p-1"
                      >
                        08:56
                        <!-- <span class="fa fa-check-circle"></span> -->
                      </div>
                    </div>

                    <div class="chat-avatar">
                      <img
                        src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
                        alt="Retail Admin"
                      />
                      <!-- <div class="chat-name">Sam</div> -->
                    </div>
                  </li>
                </ul>
                <div class="form-group mt-3 mb-0 text-light">
                  <textarea
                    class="form-control text-light"
                    rows="3"
                    placeholder="Type your message here..."
                    style="background-color: #2196f3"
                  ></textarea>
                  <p class="p-1">Enter to send message</p>
                </div>
              </div>
            </div>

            <div
              class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 p-1 top-gap"
              style="background-color: #333333; border-radius: 15px"
            >
              <div class="users-container">
                <div class="px-2">
                  <div class="search pb-3" data-bs-theme="dark">
                    <i class="fa fa-search" style="color: aliceblue"></i>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search your chats"
                    />
                  </div>

                  <div class="d-flex justify-content-between">
                    <div class="d-flex">
                      <div class="pe-2 pt-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <g clip-path="url(#clip0_214_293)">
                              <path d="M3.5 9.5H9.5V8H3.5V9.5ZM3.5 7.25H12.5V5.75H3.5V7.25ZM3.5 5H12.5V3.5H3.5V5ZM0.5 15.5V0.5H15.5V12.5H3.5L0.5 15.5Z" fill="#F15232"/>
                            </g>
                            <defs>
                              <clipPath id="clip0_214_293">
                                <rect width="16" height="16" fill="white"/>
                              </clipPath>
                            </defs>
                          </svg>
                      </div>
                      <h4 class="text-light">Chats</h4>
                    </div>
                  </div>
                </div>
                <ul class="users p-1">
                  <div class="p-1">
                    <li class="person" data-chat="person1">
                      <div class="d-flex justify-content-between">
                        <div class="user d-flex">
                          <div class="pe-2">
                            <img
                              src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
                              alt="Retail Admin"
                            />
                          </div>

                          <div class="text-light">
                            <div style="font-weight: 500">Adas</div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <path d="M0.307495 10.0576L4.5 14.2501L5.5575 13.1851L1.3725 9.00006M16.68 4.18506L8.745 12.1276L5.625 9.00006L4.5525 10.0576L8.745 14.2501L17.745 5.25006M13.5 5.25006L12.4425 4.18506L7.68 8.94756L8.745 10.0051L13.5 5.25006Z" fill="#F15232"/>
                                  </svg>
                              okay
                            </div>
                          </div>
                        </div>

                        <div class="text-light">12.54</div>
                      </div>
                    </li>
                  </div>
                  <div class="p-1">
                    <li class="person" data-chat="person1">
                      <div class="d-flex justify-content-between">
                        <div class="user d-flex">
                          <div class="pe-2">
                            <img
                              src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
                              alt="Retail Admin"
                            />
                          </div>

                          <div class="text-light">
                            <div style="font-weight: 500">Adas</div>
                            <div>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="18"
                                height="18"
                                viewBox="0 0 18 18"
                                fill="none"
                              >
                                <path
                                  d="M0.307617 10.0575L4.50012 14.25L5.55762 13.185L1.37262 9M16.6801 4.185L8.74512 12.1275L5.62512 9L4.55262 10.0575L8.74512 14.25L17.7451 5.25M13.5001 5.25L12.4426 4.185L7.68012 8.9475L8.74512 10.005L13.5001 5.25Z"
                                  fill="white"
                                />
                              </svg>
                              okay
                            </div>
                          </div>
                        </div>

                        <div class="text-light">12.54</div>
                      </div>
                    </li>
                  </div>
                  <div class="p-1">
                    <li class="person" data-chat="person1">
                      <div class="d-flex justify-content-between">
                        <div class="user d-flex">
                          <div class="pe-2">
                            <img
                              src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
                              alt="Retail Admin"
                            />
                          </div>

                          <div class="text-light">
                            <div style="font-weight: 500">Adas</div>
                            <div>Welcome</div>
                          </div>
                        </div>
                        <div>
                          <div class="text-light">12.54</div>
                          <div class="circle-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <circle cx="8" cy="8" r="8" fill="#F15232"/>
                              </svg>
                            <span class="circle-number">2</span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </div>
                </ul>
              </div>
            </div>
          </div>
          <!-- Row end -->
        </div>
      </div>
    </div>
    <!-- Row end -->
  </div>
  <!-- Content wrapper end -->
</div>
<app-footer></app-footer>
